.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    align-content: start;
}
.portfolio .item > span {
    display: block;
}
.portfolio .item {
    justify-self: center;
    text-align: center;
}

.portfolio .item img{
    transition: transform .2s;
}
.portfolio .item img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 20px 0 black;
    border: 1px solid black;
}